body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: white;
  font-size: 2rem;
}

a {
  color: white;
}

button {
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #da4644;
  color: whitesmoke;
  font-weight: 600;
  margin-right: 20px;
  width: 10rem;
}

button:hover {
  background-color: $theme-dark-red;
}
