body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: #b8c6db;
  background-image: linear-gradient(to bottom right, #b8c6db 0%, #f5f7fa 80%);
  height: 100vh;
}

h1 {
  color: white;
  font-size: 2rem;
}

a {
  color: white;
}

//buttons

.btn {
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #da4644;
  color: whitesmoke;
  font-weight: 600;
  margin-right: 20px;
  width: 10rem;
  text-align: center;
}

.btn:hover {
  background-color: $theme-dark-red;
}

.btn:disabled {
  background-color: $theme-dark-red;
}

// forms

.full-form {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.full-form h2 {
  text-align: center;
  font-size: $m-size;
}

.full-form .formLink {
  margin: auto;
}

.formArea {
  display: flex;
  flex-direction: column;
  background: $theme-blue;
  width: 30rem;
  font-size: $s-size;
  padding: $s-size;
  border-radius: 0.5rem;
  margin-bottom: $s-size;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;
}

form select {
  width: 16.7rem;
  padding: 0.8rem;
  border-radius: 0.1rem;
  background-color: $theme-white;
  font-size: 0.8rem;
}

form label {
  color: $theme-white;
}

form input {
  padding: 0.8rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  width: 15rem;
}

//on hovering on a link
.isHover:hover {
  background-color: $theme-light-blue;
}

.green {
  background-color: green;
}
