.doctorRequest {
  background: $theme-blue;
  color: $theme-white;
  margin-bottom: $s-size;
  padding: $s-size;
  width: 35rem;
}

.doctorRequest .buttonSection {
  display: flex;

  justify-content: flex-end;
}

.doctorRequest h2 {
  color: $theme-red;
}

.doctorRequest h5 {
  color: $theme-dark-red;
}

.doctorRequest .btn {
  padding: 0.5rem;
  color: whitesmoke;
}

.doctorRequest .acceptButton {
  background-color: green;
}

.doctorRequest .acceptButton:hover {
  background-color: rgb(2, 88, 2);
}

.doctorRequest .acceptButton:disabled {
  background-color: $theme-white;
  color: green;
}
