.trust {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trust .amount {
  margin-bottom: $m-size;
  font-size: $m-size;
}

.trustElements {
  display: flex;
  flex-direction: column;
}

.trustElement {
  display: flex;
  flex-direction: column;
  background: $theme-blue;
  width: 25rem;
  color: $theme-white;
  margin-bottom: $s-size;
  border-radius: 0.8rem;
}

.trustElement .pane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.trustElement .pane span {
  color: $theme-red;
}
