.navbar {
  display: flex;
  background-color: $theme-blue;
  justify-content: space-between;
  width: 100vw;
}

.navbar h1 a {
  margin-left: 10vw;
  color: $theme-red;
  text-decoration: none;
}

.navbar ul {
  margin-right: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  padding: $m-size;
  font-size: 1.4rem;
  color: white;
}
