.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard img {
  width: 30vw;
  height: 40vh;
  margin-top: $l-size;
  border-radius: $s-size;
}

.dashboard .contents {
  margin-top: $l-size;
  display: flex;
  flex-direction: row;
}

.dashboard .contents .btn {
  margin: $s-size;
}
