.myProfile {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

.myProfile .profileDescription {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myProfile .profileDescription .content {
  width: 30vw;
  background: $theme-blue;
  color: $theme-white;
  padding: $m-size;
  margin-bottom: $m-size;
}

.myProfile .profileDescription .content .contentPane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myProfile .profileDescription .content .contentPane span {
  color: $theme-red;
  font-weight: 600;
}

.myProfile .serviceHistory {
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myProfile .serviceHistory h2 {
  text-align: center;
  width: 40vw;
}
