.profile {
  background: $theme-blue;
  color: $theme-white;
  width: 20rem;
  padding: $s-size;
  margin-bottom: $m-size;
}

.profile span {
  color: $theme-red;
}

.profile h2 {
  color: $theme-red;
}
