.profiles {
  width: 80vw;
  margin: auto;
}

.profiles h2 {
  text-align: center;
}

.profiles .cardsPane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
